# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3010"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary
WHITE_LIST_URLS="http://localhost:4020,http://localhost:4030" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Database Configuration
DB_URI="mongodb://localhost:27017" # Full MongoDB connection string
REDIS_URI="redis://localhost:6379" # Full Redis connection string

# Session Configuration
JWT_SECRET="myjwtsecret"                                              # Secret for JWT token

#FIREBASE
SERVICE_ACCOUNT_KEY_TYPE="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_PROJECT_ID="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_PRIVATE_KEY_ID="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_PRIVATE_KEY="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_CLIENT_EMAIL="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_CLIENT_ID="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_AUTH_URI="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_TOKEN_URI="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_AUTH_PROVIDER_X509_CERT_URL="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_CLIENT_X509_CERT_URL="YOUR_KEY_VALUE"
SERVICE_ACCOUNT_KEY_UNIVERSE_DOMAIN="YOUR_KEY_VALUE"

# TEST VARS
TEST_EMAIL="your_test_email"       # Email for testing
TEST_ALT_EMAIL="your_alt_email"    # Alternate email for testing
TEST_PASSWORD="your_test_password" # Password for testing

# OTHER VARS
FRONTEND_URL="http://localhost:4020"   # Frontend URL
